.gallery {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
  .__wrapper {
    font-size: large;
  }
}
.gallery__mozaic{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 800px;
    align-content: center;
    gap: 8%;
    margin: 10px;
}

.img{
    margin: 15px;
    max-width: 300px;
}
